/* variables */

:root {
    /* primary colors: */
    --midnight-green: #014E56;
    --light-coral: #F67E7E;
    --white: #ffffff;

    /* secondary colors: */
    --rapture-blue: #79C8C7;
    --police-blue: #2C6269;
    --deep-jungle-green: #004047;
    --sacramento-state-green: #012F34;
    --dark-green: #002529;
}




/* font declaration */

@font-face {
    font-family: "Livvic-Black";
    src: url(../assets/fonts/Livvic-Black.ttf);
}

@font-face {
    font-family: "Livvic-BlackItalic";
    src: url(../assets/fonts/Livvic-BlackItalic.ttf);
}

@font-face {
    font-family: "Livvic-Bold";
    src: url(../assets/fonts/Livvic-Bold.ttf);
}

@font-face {
    font-family: "Livvic-BoldItalic";
    src: url(../assets/fonts/Livvic-BoldItalic.ttf);
}

@font-face {
    font-family: "Livvic-ExtraLight";
    src: url(../assets/fonts/Livvic-ExtraLight.ttf);
}

@font-face {
    font-family: "Livvic-ExtraLightItalic";
    src: url(../assets/fonts/Livvic-ExtraLightItalic.ttf);
}

@font-face {
    font-family: "Livvic-Italic";
    src: url(../assets/fonts/Livvic-Italic.ttf);
}

@font-face {
    font-family: "Livvic-Light";
    src: url(../assets/fonts/Livvic-Light.ttf);
}

@font-face {
    font-family: "Livvic-LightItalic";
    src: url(../assets/fonts/Livvic-LightItalic.ttf);
}

@font-face {
    font-family: "Livvic-Medium";
    src: url(../assets/fonts/Livvic-Medium.ttf);
}

@font-face {
    font-family: "Livvic-MediumItalic";
    src: url(../assets/fonts/Livvic-MediumItalic.ttf);
}

@font-face {
    font-family: "Livvic-Regular";
    src: url(../assets/fonts/Livvic-Regular.ttf);
}

@font-face {
    font-family: "Livvic-SemiBold";
    src: url(../assets/fonts/Livvic-SemiBold.ttf);
}

@font-face {
    font-family: "Livvic-SemiBoldItalic";
    src: url(../assets/fonts/Livvic-SemiBoldItalic.ttf);
}

@font-face {
    font-family: "Livvic-Thin";
    src: url(../assets/fonts/Livvic-Thin.ttf);
}

@font-face {
    font-family: "Livvic-ThinItalic";
    src: url(../assets/fonts/Livvic-ThinItalic.ttf);
}


/* rules */

body {
    margin: 0;
}





/* navigation bar */

header {
    height: 12.0rem;
    width: 100%;
    background-color: var(--midnight-green);
    display: flex;
    justify-content: center;
}

.header-navigation-bar {
    width: 69.375rem;
    height: 3rem;
    background-color: var(--midnight-green);
    margin: 4.5625rem ;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

header button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.563rem;
    height: 3rem;
    border-radius: 1.5rem;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    background-color: transparent;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    font-family: "Livvic-SemiBold";
}

header aside:first-child {
    display: flex;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    font-family: "Livvic-SemiBold";
}

header nav a:hover {
    color: #F67E7E;
}

header button:hover {
    background-color: white;
    cursor: pointer;
}

header button:hover a {
    color: black;
}


.header-navigation-bar img {
    width: 10rem;
    height: 2.5rem;
}

header nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;                      
    margin-left: 5rem;
}

header button {
    width: 9.563rem;
    height: 3rem;
    border-radius: 24px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}


p { margin: 0; }
h1 { margin: 0; }




/* footer */







