/* variables */

:root {
    /* primary colors: */
    --midnight-green: #014E56;
    --light-coral: #F67E7E;
    --white: #ffffff;

    /* secondary colors: */
    --rapture-blue: #79C8C7;
    --police-blue: #2C6269;
    --deep-jungle-green: #004047;
    --sacramento-state-green: #012F34;
    --dark-green: #002529;
}




/* font declaration */

@font-face {
    font-family: "Livvic-Black";
    src: url(../assets/fonts/Livvic-Black.ttf);
}

@font-face {
    font-family: "Livvic-BlackItalic";
    src: url(../assets/fonts/Livvic-BlackItalic.ttf);
}

@font-face {
    font-family: "Livvic-Bold";
    src: url(../assets/fonts/Livvic-Bold.ttf);
}

@font-face {
    font-family: "Livvic-BoldItalic";
    src: url(../assets/fonts/Livvic-BoldItalic.ttf);
}

@font-face {
    font-family: "Livvic-ExtraLight";
    src: url(../assets/fonts/Livvic-ExtraLight.ttf);
}

@font-face {
    font-family: "Livvic-ExtraLightItalic";
    src: url(../assets/fonts/Livvic-ExtraLightItalic.ttf);
}

@font-face {
    font-family: "Livvic-Italic";
    src: url(../assets/fonts/Livvic-Italic.ttf);
}

@font-face {
    font-family: "Livvic-Light";
    src: url(../assets/fonts/Livvic-Light.ttf);
}

@font-face {
    font-family: "Livvic-LightItalic";
    src: url(../assets/fonts/Livvic-LightItalic.ttf);
}

@font-face {
    font-family: "Livvic-Medium";
    src: url(../assets/fonts/Livvic-Medium.ttf);
}

@font-face {
    font-family: "Livvic-MediumItalic";
    src: url(../assets/fonts/Livvic-MediumItalic.ttf);
}

@font-face {
    font-family: "Livvic-Regular";
    src: url(../assets/fonts/Livvic-Regular.ttf);
}

@font-face {
    font-family: "Livvic-SemiBold";
    src: url(../assets/fonts/Livvic-SemiBold.ttf);
}

@font-face {
    font-family: "Livvic-SemiBoldItalic";
    src: url(../assets/fonts/Livvic-SemiBoldItalic.ttf);
}

@font-face {
    font-family: "Livvic-Thin";
    src: url(../assets/fonts/Livvic-Thin.ttf);
}

@font-face {
    font-family: "Livvic-ThinItalic";
    src: url(../assets/fonts/Livvic-ThinItalic.ttf);
}


/* rules */

body {
    margin: 0;
}





/* navigation bar */

header {
    width: 100%;
    background-color: var(--midnight-green);
    margin: 0;
}







/* footer */







